doctype html
html
	div(style="margin-left: 100px")
		h1 Login Page
		label Username : 
		input(type="text" placeholder="first and last name")
		br
		br
		label Password : 
		input(type="password" placeholder="use atleast 1 spcl char")
		br
		br
		button Submit